body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  border-collapse: collapse
}

li {
  display: inline-block;
}

.nav-txt-white{
  color: white;
  font-weight: 600;
  text-decoration: none
}

.person-info-block{
  border: solid 2px rgb(34, 51, 59);
  padding: 5px 15px;
  text-align: center;
  width: 40vw;
  margin:  20px auto;
  border-radius: 5px
}

input {
  border: none;
  padding: 5px 12px;
  color: rgba(0,0,0, .5);
  letter-spacing: 1px;
  outline: none;
  border-radius: 5px
}

button {
  border: none;
  padding: 4px 12px;
  background-color: white;
  cursor: pointer;
  border-radius: 5px
}

.person-info-block input{
  margin: 0 20px
}

.app-logo-person{
  animation: person-logo-spin infinite 1s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes person-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info-card{
  border: 1px solid rgba(0,0,0,.3);
  /* display: flex; */
  padding: 8px 12px;
  margin: 3em auto;
  width: 20vw;
  box-shadow: 1px 3px 5px rgba(0,0,0,.3);
  border-radius: 10px
}

.edit-info-input{
  display: block;
  margin: 10px auto
}

/* .hide-edit-person-card{
  position: absolute;
  right: 30px;
  cursor: pointer;
  background-color: black;
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  line-height: 10px
} */

.person-info-card{
  margin: 0 auto;
  width: 40vw;
  opacity: .1;
  transition: .3s
}

.person-info-card:hover{
  opacity: 1;
  cursor: pointer;
}